<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información del entrenamiento</h4>
            <h6 class="card-subtitle">Cree un nuevo entrenamiento para poner a prueba sus atletas!</h6>
            <form [formGroup]="form" (submit)="guardarEntrenamiento()" class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">Titulo</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="titulo"
                            placeholder="Ingrese titulo..."
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputuname">Descripción</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="descripcion"
                            placeholder="Ingrese descripción..."
                        >
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Duración (minutos)</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input 
                            type="text" 
                            class="form-control" 
                            formControlName="duracion" 
                            placeholder="Ingrese duración..."
                        >
                    </div>
                    <div 
                        class="form-control-feedback text-danger" 
                        *ngIf="form.get('duracion').invalid && form.get('duracion').touched"
                    >
                        Ingrese un valor mayor a 0
                    </div>
                </div>

                              
                <div class="form-group">
                    <select name="role" fromControlName="role" (change)="changeRoutine($event)" class="form-control" required>
                        <option value="">Elegir rutina...</option>
                        <option *ngFor="let routine of routines" [value]="routine.id">{{routine.title}}</option>
                    </select>
                </div>
    
                <button *ngIf="mode==='CREAR'" type="submit" [disabled]="form.invalid" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                <button *ngIf="mode==='EDITAR'" type="submit" [disabled]="form.invalid" class="btn btn-success waves-effect waves-light m-r-10">Editar</button>
                <button type="button" (click)="this.form.reset()" class="btn btn-inverse waves-effect waves-light">Reiniciar</button>
            </form>
        </div>
    </div>
</div>