<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Rutinas</h4>
            <h6 class="card-subtitle">Acá puedes ver todas las rutinas que has creado</h6>
            <div class="table-responsive">
                <table class="table color-table success-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Descripción</th>
                            <th>Duración (minutos)</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let training of trainings; index as i">
                            <td>{{i+1}}</td>
                            <td>{{training.title}}</td>
                            <td>{{training.description}}</td>
                            <td>{{training.duration}}</td>
                            <td>
                                <button [routerLink]="['/panel/create-training', training.id]" class="btn btn-secondary">
                                    Editar
                                </button>
                            </td>
                            <td>
                                <button (click)="eliminarEntrenamiento(training.id)" class="btn btn-danger">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
