<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Lista de Atletas</h4>
            <h6 class="card-subtitle">Acá puedes ver todos los atletas que entrenan con Workout</h6>
            <div class="table-responsive">
                <table class="table color-table success-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Creado el</th>
                            <th>Contratar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plan of plans; index as i">
                            <td>{{i+1}}</td>
                            <td>{{plan.name}}</td>
                            <td>{{plan.price}}</td>
                            <td>{{plan.created_at}}</td>
                            <td>
                                <button class="btn btn-primary">Contratar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
