<div class="card">
    <div class="card-body">
        <h4 class="card-title">Información de usuario</h4>
        <h6 class="card-subtitle">Tus datos personales</h6>
        <form [formGroup]="form" (submit)="guardarUser()" class="form p-t-20">
            <div class="form-group">
                <label for="exampleInputuname">Nombre</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="nombre"
                        placeholder="Ingrese su nombre..."
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputuname">Apellido</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="apellido"
                        placeholder="Ingrese su apellido..."
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Teléfono</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="telefono" 
                        placeholder="Ingrese teléfono"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                    <input 
                        type="email" 
                        class="form-control" 
                        formControlName="email" 
                        placeholder="Ingrese email"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="pwd1">Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-lock"></i></div>
                    <input 
                        type="password" 
                        class="form-control" 
                        formControlName="password" 
                        placeholder="Ingrese password"
                    >
                </div>
            </div>
            <div class="form-group">
                <label for="pwd2">Confirmar Password</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-lock"></i></div>
                    <input 
                        type="password" 
                        class="form-control" 
                        formControlName="password2" 
                        placeholder="Ingrese password"
                    >
                </div>
            </div>

            <div class="form-group" *ngIf="form.errors?.passwordNoIguales && 
            ((form.get('password').touched || form.get('password').dirty) && 
            (form.get('password2').touched || form.get('password2').dirty))">
                <p class="text-danger">Las contraseñas deben ser iguales</p>
            </div>

            <button type="submit" [disabled]="form.invalid" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
            <button type="submit" class="btn btn-inverse waves-effect waves-light">Reiniciar</button>
        </form>
    </div>
</div>